html {
  background: url(finlandlights.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  width: 60%;
  margin: auto;
}

h1, h2 {
  padding: 2%;
  text-align: center;
}

p {
  padding: 2%;
  text-align: justify;
}
