html {
  background: url(finlandlights.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
font-family: "Josefin Sans", sans-serif;
line-height: 1.4;
  width: 60%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #820D98;  
}

* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  padding: 1em;
  text-align: center;
  font-size: 2em;
  color: rgba(192, 223, 130, 0.57);
}

p {
  padding: 2%;
  text-align: justify;
}
