* {
  box-sizing: border-box;
}

html {
  /* so that all of these things fill the viewport */
  /* otherwise they resize the divs as the content changes */
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: url(/public/finlandlights.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

a {
  text-decoration: none;
  color: #820D98;  
}

h1, h2 {
  padding: 1em;
  text-align: center;
  font-size: 2em;
  color: rgba(192, 223, 130, 0.57);
}

#word-space {
  width: 100%;
  overflow: visible;
}
